/* Global styling for the body element */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg,#252525 0%, #ffffff 15%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }
  /*Stiliranje sadrzaja u content klasi*/
  .content {
    display:flex;
    flex-direction:column;
    text-align: center;
  }
  /*Naslov*/
  .naslov {
    text-align: center;
    font-size: 2em;
  }
  /* Styling for the container element using CSS Grid */
  .container {
    max-width: 100vw;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 45px;
    margin: 0 auto;
    padding: 40px 0;  
  }
  /* Stilizacija za karticu */
  .kartica {
    position:relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
  /*Postavljanje širine za button*/
  .tipka {
    width: 80px;
    margin-bottom: 20px;
  }
  /*Stil za sliku*/
  .logo {
    max-width: 25%;
    height: 50px;
    align-self: center;
  }
  .logo:hover {
    transform: scale(1.9);
  }
  /* Zajednicki styling za naslovnu stranu i pozadinu */
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    border-radius: 25px;
  } 
  /* Stil za pozadinu */
  .pozadina {
    box-sizing: border-box;
    padding: 15px;
    background-color: #aeb3b5;
  }
  /* Styling for heading inside the first face */
  .pozadina h2 {
    margin: 0;
    padding: 0;
  }
  /* Styling for specific elements inside the first face */
  .pozadina .txt {
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* Styling for the second face (face2) */
  .naslovna {
    transition: 0.5s;
  }
  /* Styling for the heading inside the second face */
  .naslovna h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    color: #ffffff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  /* Efekt da se naslovnica stisne i  pokaze pozadina */
  .kartica:hover .naslovna {
    height: 50px;
  }
  /* Efekt smanjivanja h2 s naslovom */
  .kartica:hover .naslovna h2 {
    font-size: 2em;
  }
  /*Stilizacija za gumb "više"*/
  .btn {
    max-width: 50px;
    align-self:flex-end;
  }
  .btn:hover{
    /*Kada miš uđe u button on se poveca 1.3 puta*/
    transform: scale(1.3);
  }
  /*Stilizacija za footer*/
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #aeb3b5;
    color: #000000;
  }
  footer p {
      margin: 15px;
  }
  /*Loader*/
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Animacija za učitavanje portala */
  .animate-portal {
    animation-name: animateportal;
    animation-duration: 2s;
  }
  /**/
  @keyframes animateportal { 
    from{ opacity:0 } 
    to{  opacity:1 }
  }
  /*Postavljanje stranice da se ne vidi*/
  #portal {
    display: none;
  }